* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  padding: 0;
}
button:hover {
  cursor: pointer;
}
input:focus {
  outline: none;
}
.actions-block {
  @include flex(row, space-between, start);
}
a {
  text-decoration: none;
}
.main-section-site {
  padding: 20px 2rem;
  margin-top: 7rem;
}
ul li {
  list-style: none;
}
.main-header-input {
  border: 1px solid $input-border-color;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.each-section {
  margin: 20px 0;
  &-header {
    color: $main-black;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    margin: 20px 0;
  }
}

:deep(.swiper) {
  padding-bottom: 20px;
}

.look-all-btn {
  border: none;
  background: none;
  @include flex(row, center, center);
  color: $blue-color;
  font-size: 16px;
}
.look-all-btn:hover {
  cursor: pointer;
}

.overlay-header-options {
  @extend %dark-bg-effect;
}

.overlay-header-options.open {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease all;
}

.each-block-info-col {
  margin: 10px 0;
  color: $main-dark-grey;
  font-size: 14px;
  display: block;
}

.rating-color {
  color: #f2c94c;
}

.read-all-btn {
  color: $blue-color;
  border: none;
  background: none;
  font-size: 16px;
}

.p-rating {
  @include flex(row, start, center, 5px !important);
}

.basic-input {
  padding: 16px 20px !important;
  border: 1px solid $slider-border-color;
  border-radius: 10px;
  color: $main-black !important;
  @include footerSpan(24px, 16px);
  ::placeholder {
    color: $main-gray !important;
  }
}

.section-header-links {
  @include flex(row, space-between, center);
}

.phone {
  color: $blue-color !important;
}
.main-header-h1 {
  @include footerSpan(36px, 32px);
  color: $main-black !important;
  font-weight: 700;
}

.prod-count-buttons {
  @include flex(row, space-between, center, 20px);
  @include items-button(
    6px 20px 6px 20px,
    $main-black,
    $main-white,
    1px solid $main-white,
    16px
  );
  span {
    font-size: 20px;
  }
}


.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-40 {
  margin-top: 40px;
}
// headers base
h1 {
  font-size: 32px !important;
  line-height: 36px !important;
  color: $main-black;
}

h3 {
  font-size: 24px !important;
  line-height: 24px !important;
  font-weight: 700;
  color: $main-black;
}
h2 {
  font-size: 28px !important;
  line-height: 28px !important;
  font-weight: 700;
  color: $main-black;
}

//cart
.cart-main-info-price {
  width: 30%;
  margin-top: 50px;

  &-block {
    @include flex(column, start, initial, 12px);
    background: $main-white;
    border-radius: 10px;
    padding: 20px;

    .first {
      @include flex(row, space-between, center);
      @include textFormat(16px, 24px, 600, #000);
      @extend %border-bottoms;
      padding-bottom: 10px;
    }

    .second {
      @include flex(row, space-between, center);
      @include textFormat(16px, 24px, 400, #000);
    }

    .last {
      margin-top: 5px;
      @include flex(row, space-between, center);
      @include textFormat(24px, 24px, 700, #000);
    }
  }

  button {
    width: 100%;
    &:first-child {
      @extend %button-shared;
    }
    &:last-child {
      box-shadow: 0px 0px 0px 0.5px #0000000d;

      box-shadow: 0px 0.5px 2.5px 0px #0000004d;
    }
  }
}

.cart-main-info-prod {
  @include flex(row, space-between, center);
  @extend %border-bottoms;
  padding: 50px 0 20px 0;

  &-items {
    @include flex(row, start, center, 20px);
  }

  h3 {
    @include footerSpan(28px, 24px);
    color: $main-black !important;
    font-weight: 700;
    max-width: 480px;
    margin-bottom: 8px;
  }
}
.cart-main-info-prod-img {
  width: 50%;

  img {
    width: 100%;
  }
}

.cart-main-info-count {
  @include flex(column, center, flex-end, 20px);

  .price {
    @include textFormat(28px, 28px, 500, #016934);
  }

  button {
    padding: 10px 40px 10px 40px;
  }
}
.cart-main-info-middle {
  @include flex(column, start, start);
}
// cart form input

.no-content-img {
  width: 44px;
  height: 44px;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotated {
  transform: rotate(180deg);
}

.error-input {
  margin: -3px 0 10px 0;
  color: $main-pink;
  font-size: 14px;
}

.register-auth-header {
  @include textFormat(20px, 20px, 600, $main-black !important);
}

:deep(.p-toast .p-toast-message.p-toast-message-success) {
  padding: 20px !important;
  margin: 20px !important;
}

.bookmarked-list {
  margin-top: 40px;
  @include flex(row, start, center, 28px);
  flex-wrap: wrap;
}
.bookmark-icon-heart {
  width: 100%;
  @include flex(flex, flex-end, center);
  img {
    width: 28px !important;
    height: 24px !important;
  }
}

.modal-header {
  @include textFormat(20px, 20px, 600, #000);
}

.modal-btns {
  @include flex(row, flex-end, center, 20px);
  margin-top: 5rem;

  button {
    @include textFormat(20px, 20px, 600, #000);
    border: none;
    background: none;
  }

  button:last-child {
    color: #eb5757 !important;
  }
}

:deep(.p-modal-header) {
  @include flex(row, flex-end, center !important);
}

.err-input-msg {
  @include textFormat(13px, 20px, 400, #eb5757);
  margin-bottom: 10px;
}

.password-block-input {
  position: relative;
  .password-icon {
    position: absolute;
    width: 20px;
    right: 20px;
    top: 12px;
  }
}

.delete-icon:hover {
  cursor: pointer;
}

.btn-white-bg {
  background: white !important;
  box-shadow: 0px 0px 0px 0.5px #0000000d !important;
  box-shadow: 0px 0.5px 2.5px 0px #0000004d !important;
  padding: 10px 20px !important;
  border-radius: 8px;
  outline: none;
  border: none;
  @include textFormat(20px, 32px, 600, $main-blue !important);
  margin-top: 20px;
  &:hover {
    @extend %blue-bnt-hover;
    transition: 0.3s;
    cursor: pointer;
  }
}

.pink-button {
  @extend %button-shared;
  display: block;
  margin-top: 2.6rem;
  font-size: 20px;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    background: #9c004b;
  }
}

.gray-buttons-border {
  padding: 16px 20px;
  border: 1px solid $slider-border-color;
  border-radius: 10px;
  background: white;
  @include textFormat(16px, 20px, 500, $main-black);
  @include flex(row, center, center);
}
.gray-buttons-border.selected-btn {
  border: 2px solid $main-black;
}

.custom-checkbox {
  p {
    display: flex;
    gap: 10px;
  }
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox p::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px solid #000;
  display: block;
  max-width: 18px;
  width: 100%;
  height: 18px;
}

.custom-checkbox input[type="checkbox"]:checked + p::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: url("../assets/icons/check-icon-vector.svg");
  width: 18px;
  height: 18px;
  position: relative;
  left: 0px;
  background: black;
}

.magazine {
  @extend %border-bottoms;
  padding-bottom: 20px;
  margin-top: 20px;
}

.bg-white-btn {
  padding: 16px 18px;
  border-radius: 8px;
  color: $main-blue;
  outline: none;
  border: none;
  box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.05) 0px 0.5px 2.5px 0px
    rgba(0, 0, 0, 0.3);
  background: white;
  font-weight: 500;
  margin-top: 20px;
  line-height: 20px;
  font-size: 20px;
  transition: 0.3s;

  &:hover {
    @extend %blue-bnt-hover;
    transition: 0.3s;
    cursor: pointer;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .item-block {
    width: 50%;
  }
}

.modal-btns {
  @include textFormat(20px, 20px, 600, #000);
  border: none;
  background: none;

  &:first-child {
    margin-right: 20px;
  }
}
.modal-btns.blue {
  color: $main-blue;
}
.modal-header2 {
  @include textFormat(24px, 24px, 600, #000);
  padding-left: 30px;
  margin-top: 20px;
}

.modal-header {
  @include textFormat(20px, 20px, 600, #000);
  padding-left: 30px;
  margin-top: 20px;
}

.warning-text-modal {
  padding-left: 30px;
  margin-top: 20px;
}

.delivery-comments {
  margin-top: 20px;

  input {
    width: 100%;
    border-color: $slider-border-color;

    &::placeholder {
      color: $slider-border-color !important;
    }
  }
}
:deep(.vs-alert--toast.vs-alert-success .vs-alert__heading) {
  font-size: 20px !important;
}

.register-auth-btn {
  @extend %button-shared;
  padding: 16px 20px !important;
}
.all-sellers-blocks {
  @include flex(row, space-around, center);
  flex-wrap: wrap;

  .certificate {
    width: 100%;
  }
}

.item-block-description {
  @include textFormat(14px, 20px, 600, $main-dark-grey);
  max-width: 95%;
  width: 100%;
  margin-top: 10px;
  height: 83px;
  word-break: break-all;
}

@media (max-width: 576px) {
  .cart-main-info-prod {
    flex-direction: column !important;
    align-items: center;

    &-items {
      flex-direction: column !important;
      align-items: center;
    }
  }
  .cart-main-info-middle {
    h3 {
      font-size: 18px !important;
    }
  }
  .cart-main-info-price button:first-child,
  .pink-button,
  .register-auth-btn {
    font-size: 14px;
  }
  .cart-main-info-price button:last-child {
    font-size: 14px;
  }
  .cart-main-info-price-block .last {
    font-size: 16px;
  }
  .cart-main-info-price-block .first,
  .second,
  .basic-input {
    font-size: 14px !important;
  }
  .cart-main-info-count .price {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .main-section-site {
    margin-top: 11rem;
  }
  .main-header-h1 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .each-section-header {
    font-size: 20px !important;
    line-height: 24px !important;
  }
}
