@mixin flex($direction, $justify, $align, $gap: 10px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin footerSpan($line-height, $font-size) {
  color: white;
  font-weight: 400;
  line-height: $line-height;
  font-size: $font-size;
}
@mixin openedOptionsHeader($width, $padding, $top) {
  position: absolute;
  top: $top;
  width: $width;
  background: white;
  left: 0;
  z-index: 10;
  padding: $padding;
  transition: 0.3s ease all;
  opacity: 0;
  visibility: hidden;
}

@mixin items-button($padding, $color, $bg, $border, $font-size: 13px) {
  padding: $padding;
  background: $bg;
  color: $color;
  border-radius: 8px;
  outline: none;
  border: $border;
  font-size: $font-size;
}

@mixin textFormat($font-size, $line-height, $font-weight, $color: #2222) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}
